<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667663272119-lnsa7cf2k6phths7a02t4ft0i2dqdbbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667663272119-lnsa7cf2k6phths7a02t4ft0i2dqdbbl</string>
	<key>API_KEY</key>
	<string>AIzaSyCz7ZSTj-i8XShItp6JhPHZ-N0p1zLFoLM</string>
	<key>GCM_SENDER_ID</key>
	<string>667663272119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xxx.MeusGastos</string>
	<key>PROJECT_ID</key>
	<string>meus-gastos-6adeb</string>
	<key>STORAGE_BUCKET</key>
	<string>meus-gastos-6adeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667663272119:ios:c51afca1fdc37c220ea532</string>
</dict>
</plist>